@model TastyMVC.Models.Recipe

@{
    ViewBag.Title = "Details";
    ViewBag.Message = TempData["Message"];
}


@if (ViewBag.Message != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Message
    </div>
}
<div>
    <div class="row">
        <h3 class="col-md-12">@Model.Title</h3>
        <h6 class="col-md-3">@Model.Category.Name</h6>

        <h6 class="offset-sm-3 col-md-3">@Model.CreatedOn</h6>

    </div>
    <hr class="mb-3" />
    <div class="row">
        <div class="col-md-6">
            <img class="img-fluid" src="@Model.Thumbnail.GetImageSource()" alt="" />
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    @{
                        Html.RenderPartial("_Ingredients", Model.Ingredients);
                    }
                </div>
                @if (ViewBag.IsOwner)
                {
                    <div class="col-md-12">
                        @{
                            Html.RenderPartial("_IngredientForm", new TastyMVC.ViewModels.AddIngredientViewModel(Model.Id));
                        }
                    </div>
                }

            </div>

        </div>

        <div class="col-md-12">
            <h5>steps</h5>


            @{
                foreach (var item in Model.Steps)
                {
                    Html.RenderPartial("_RecipeStep", item);
                }
            }
            @if (ViewBag.IsOwner)
            {
                Html.RenderPartial("_RecipeStepForm", new TastyMVC.ViewModels.AddFoodStepViewModel(Model.Id));
            }

        </div>

    </div>
</div>
<p>
    @if (ViewBag.IsOwner)
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    }

    @Html.ActionLink("Back to List", "Index")
</p>
